<p style="text-align:center"><strong>Listing users</strong></p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Actived</th>


  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.is_active %></td>
  </tr>
<% end %>
</table>

