<ul class="nav nav-pills nav-stacked">
<% @categories.each do |category| %>
    <li class="active"><%= link_to category.content, category_products_path(category) %></li>

<% end %>
</ul>
<%= link_to 'New Category', new_category_path %>
